# Copyright 2026ff novatechflow (Alexander Alten)
# SPDX-License-Identifier: PolyForm-Shield-1.0.0
# built binary
/polydisplayd
/polydisplay
# runtime logs
*.log
# runtime state: written by the server, recreated from defaultConfig() if absent
/config.json
